.searchAdd_form {
  margin: 1rem auto 3rem;
  width: 90%;
  max-width: 400px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.searchAdd_form > button {
  align-self: baseline;
}

.searchAdd_form > label {
  width: 4rem;
  text-align: end;
  margin-right: 0.5rem;
}