@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.5;
  font-weight: 400;
}


body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #e5e5e5;
}

.layout_container {
  text-align: center;
  width: 100vw;
}

.layout_container > h1 {
  background-color: #333333;
  padding: 2rem 0;
  color: #f5f5f5;
  margin-bottom: 1rem;
}

.link_container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 2rem 0;
  font-size: 1.25rem;
}

.tab {
  text-decoration: none;
  color: inherit;
  color: #555;
  cursor: pointer;
}

.tab.active {
  color: #333;
  border-bottom: 1px solid #333;
}

.searchAdd_form {
  margin: 0 auto;
  width: 300px;
  display: flex;
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  align-items: center;
  gap: 1rem;
}

/* .searchAdd_form > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} */

.searchZC_form {
  margin: 0 auto;
  width: 90%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.searchZC_form > div {
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

label {
  width: 4rem;
  text-align: end;
  margin-right: 0.5rem;
}

input, select {
  outline: none;
  border: 1px solid #bbb;
  background-color: transparent;
  height: 34px;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
}

input:focus {
  border: 1px solid #333;
}

button {
  padding: 0.25rem 0.5rem;
  border: 1px solid #333;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  height: 34px;
  width: 41px;

  display: flex;
  align-items: center;
  justify-content: center;
}

button > img {
  width: 23px;
}

.searchZC_form > button {
  align-self: self-end;
}

.address {
  width: 90%;
  max-width: 400px;
  margin: 3rem auto 1.5rem;
}

table {
  margin: 2rem auto;
}

thead {
  background-color: #625959;
  color: #f5f5f5;
  font-size: 0.975rem;
}

th {
  min-width: 100px;
}

td {
  border: 0.25px solid #aaa;
  padding: 0.25rem;
}