@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --background-body-color: #e5e5e5;
  --main-black-color: #333333;
  --white-color: #f5f5f5;
  --tab-color: #555555;
  --thead-background-color: #625959;
  --td-border-color: #aaaaaa;
  --red-error-color: #ff4848;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: var(--background-body-color);
}

.layout_container {
  text-align: center;
  width: 100vw;
}

.layout_container > h1 {
  background-color: var(--main-black-color);
  padding: 2rem 0.5rem;
  color: var(--white-color);
}

.link_container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 2rem 0.25rem;
  font-size: 1.25rem;
}

.tab {
  text-decoration: none;
  color: var(--tab-color);
  cursor: pointer;
}

.tab.active {
  color: var(--main-black-color);
  border-bottom: 1px solid var(--main-black-color);
}

input:focus {
  border: 1px solid var(--main-black-color);
}

button {
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--main-black-color);
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  height: 34px;
  width: 41px;

  display: flex;
  align-items: center;
  justify-content: center;
}

button > img {
  width: 23px;
}

button:active {
  transform: scale(0.9);
  transition: 0.4s;
}

.address {
  width: 90%;
  max-width: 400px;
  margin: 3rem auto 1.5rem;
}

table {
  width: 98%;
  max-width: 800px;
  margin: 2rem auto;
}

thead {
  background-color: var(--thead-background-color);
  color: var(--white-color);
  font-size: 0.975rem;
}

th {
  min-width: 100px;
}

td {
  border: 0.25px solid var(--td-border-color);
  padding: 0.25rem;
}

.table_container {
  overflow-x: auto;
}

.input_group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input_group > span {
  margin-top: 0.125rem;
  text-align: left;
  font-size: 0.875rem;
  color: var(--red-error-color);
}

.input-error {
  outline: 1px solid var(--red-error-color);
}


/* RESPONSIVIDADE */

@media(min-width: 768px){
  .layout_container > h1 {
    font-size: 2.5rem;
  }

  .link_container {
    font-size: 1.5rem;
  }

  label {
    font-size: 1.05rem;
  }
}

@media(min-width: 1024px){
  .layout_container > h1 {
    font-size: 3rem;
  }
}